<div class="education">
  <h5><i class="fa fa-graduation-cap" aria-hidden="true"></i> Education</h5>
  {% if site.education  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless table-hover">
      {% assign education = site.education | reverse %}
      {% for item in education %}
        <tr>
          <th scope="row">{{ item.date | date: "%b, %Y" }} - {{ item.datelast | date: "%b, %Y" }}</th>
          <td>
            {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
