<div class="teaching">
  {% if site.teaching  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless table-hover">
      {% assign teaching = site.teaching %}
      {% for item in teaching %}
        <tr>
          <th scope="row">{{ item.course | remove: '<p>' | remove: '</p>' | emojify }}</th>
          <td>
            {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          </td>
          <td>
            {{ item.university | remove: '<p>' | remove: '</p>' | emojify }}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
